.container {
  background-color: $palette-color-gray-light;
  // min-height: 100vh;
  text-align: center;
  border: 1px solid blue;
  padding-bottom: 60px;
}

.main {
  padding: 40px 113px;
  border: 1px solid blue;
}
