.container-header {
  color: $typography-font-color-main;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h1 {
    margin: 16px 0;
  }

  h3 {
    margin: 0;
    margin-bottom: 8px;
  }
}
