$palette-color-green: #3eb871;
$palette-color-orange: #ff7600;
$palette-color-blue: #167abc;
$palette-color-white-main: #fff;
$palette-color-white-off: #ebebeb;
$palette-color-gray-off: #f5f5f5;
$palette-color-gray-light: #e5e5e5;
$palette-color-gray-main: #808080;
$palette-color-gray-dark: #323232;
$palette-color-black-main: #000000;
$palette-color-black-opacity: rgba(0, 0, 0, 0.4);
$typography-font-color-main: #555555;
$typography-font-color-light: #8e8e8e;
$typography-font-family: "Open Sans";
