.container-detail-card {
  border-radius: 8px;
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  margin: 40px 60px;
  background-color: $palette-color-white-main;
  align-items: center;

  img {
    border-radius: 10px;
    width: 50vw;
    height: 50vh;
  }
  button {
    padding: 15px 30px;
    margin: 10px;
    width: 20%;
    border-radius: 4px;
    background-color: $palette-color-blue;
    color: $palette-color-white-main;
    border: none;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.21);
    display: flex;
    justify-content: center;
  }
}
.image-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  h1 {
    margin: 10px;
  }
}

@media only screen and (max-width: 425px) {
  .container-detail-card {
    margin: 20px;
    padding: 20px;

    img {
      border-radius: 10px;
      width: 60vw;
      height: 30vh;
    }

    h1 {
      font-size: 25px;
    }
  }
}
