.container-detail-card {
  // height: 94vh;
  border-radius: 8px;
    padding: 20px 24px;
  display: flex;
  flex-direction: column;
    margin: 40px 60px;
    background-color: $palette-color-white-main;

  img {
    border-radius: 10px;
    width: 50vw;
    height: 50vh;
  }
 
}
.image-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail{
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        margin:10px;
    }
}