.container-search {
  background-color: $palette-color-white-main;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  padding: 5px 15px;
  min-width: 300px;
  // transition: all 0.5s ease 0s;

  input {
    appearance: none;
    background: transparent;
    border: 0;
    color: inherit;
    font: inherit;
    outline: 0;
    font-style: italic;
  }
  button {
    background-color: transparent;
    border: none;
    display: flex;
  }
}

.icon {
  color: $typography-font-color-light;
}
