@import "components/main.scss";

.container {
  background-color: $palette-color-gray-light;
}

@media only screen and (max-width: 1024px) {
  .main {
    .container-header {
      align-items: center;
    }
    .container-search {
      max-width: none;
      margin-bottom: 40px;
    }
  }

  .title-list {
    :nth-child(2),
    :nth-child(3) {
      display: none;
    }
  }

  .container-list .div2 {
    display: none;
  }
  .detail{
    .container-detail{
      border: 1px solid green;
      width: 100%;
    }
    }
}

@media only screen and (max-width: 425px) {
.container{
  text-align: none;
}

.container-header{
  h1{
    font-size: 26px;
  }
}

.detail{
.container-detail{
  border: 1px solid green;
  width: 100%;
}
}

}
